@model IEnumerable<Entities.Service>

@{
    ViewData["Title"] = "Servis Kayıtları";
}

<h1>Servis Kayıtları</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformedActions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnderWarranty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleBodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChassisNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleIssue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformedActions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnderWarranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehiclePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleBodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChassisNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
